experteam_api_redis:
    serialize_groups:
        save: read
        message: read
    elk_logger:
        save: false
        message: true
#    entities:
#        App\Entity\Product:
#            prefix: product
#            save: true
#            save_method: getId     #optional (default getId)
#            message: false
#        App\Entity\Status:
#            prefix: status
#            save: false
#            message: true
#            message_class: App\Message\OperationMessage    #required only if message equal true